/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Londrina+Shadow|Montserrat|Roboto&display=swap');
 


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: peachpuff;
    color: #373711;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
}


#title {  
    font-family: 'Londrina Shadow', cursive;
    font-weight: 150px;
    font-size: 400%;
    padding-bottom: 5%;

}

.show-page{
    font-family: 'san-sarif';
    font-size: 00%;
}


#index-table{
   
}



form{
    padding: 5px 7px 5px 6px;
    font-size: 35px;
}
/* 
.open{
    transform: translate(x)
} */